# Ignore everything except nix config files
*
!.gitignore
!flake.nix
!flake.lock
!configuration.nix
!hardware-configuration.nix
!home.nix
!home-common.nix
!home-mark.nix
!git-credential-gh.sh
!icons/
!icons/tela/
!icons/tela/**
